@use '../../utils' as *;
/*----------------------------------------*/
/*  3.1 banner Style 1
/*----------------------------------------*/

//** Banner1 style**//
.banner1{
	&__content{
		p{
			font-family:var(--rr-ff-body);
			color: var(--rr-text-body);
			font-weight: var(--rr-fw-regular);
			font-style: normal;
			font-size: 16px;
			line-height: 27px;
			margin-bottom: 0;
		}
	}
	&__subtitle {
		font-family: var(--rr-ff-heading);
		color: var(--rr-heading-primary1);
		font-weight: var(--rr-fw-regular);
		font-style: normal;
		font-size: 15px;
		line-height: 26px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	&__title{
		font-family: var(--rr-ff-heading);
		color: var(--rr-heading-primary);
		font-weight: var(--rr-fw-regular);
		font-style: normal;
		font-size: 66px;
		line-height: 80px;
	}
	&__media{
		position: absolute;
		max-width: 694px;
		top: 28%;
		right: 100px;
		width: 100%;
		height: 666px;
		transition: .3s;
		@media #{$xl, $lg, $md, $sm, $xs} {
			position: relative;
			margin: 0 auto;
			right: -50px;
			margin-top: 50px;
		}
		@media #{$xs} {
			position: relative;
			margin: 0 auto;
			right: -50px;
			margin-top: 0;
		}
		@media #{$xxl} {
			right: 0;
		}
		@media #{$sm, $xs} {
			right: 0;
			height: 500px;
		}
		@media #{$xxs} {
			right: 0;
			height: 400px;
		}
		@media #{$mxm} {
			right: 0;
			height: 320px;
		}
		
		img{
			width: 100%;
			height: 100%;
		}
	}
}


/*banner-1*/
.banner {
	&__slider {
		position: absolute;
		width: 944px;
		height: 840px;
		&__arrow {
		  gap: 20px;
	
		  &-prev, &-next {
			width: 50px;
			height: 50px;
	
			svg path{
			  stroke: #595959;
			}
			&:hover {
			  svg path[stroke="var(--rr-heading-primary)"] {
				stroke: var(--rr-theme-primary);
			  }
			}
		  }
		}
	  }
	  &__content1 {
			// padding: 106px 0 317px 315px;
			background: #F7F7F7;
			.subtitle{
				font-family: var(--rr-ff-heading);
				font-style: normal;
				font-weight: 400;
				font-size: 15px;
				line-height: 26px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #0E1730;
				margin-bottom: 0;
			}
			.title{
				font-family: var(--rr-ff-heading);
				font-style: normal;
				font-weight: 400;
				font-size: 66px;
				line-height: 80px;
				color: #00061D;
				margin-bottom: 0;
			}
			.dec{
				font-family: var(--rr-ff-body);
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 27px;
				color: #595959;
				margin-bottom: 0;
			}
	  }

	&__bottom {

		&-wrapper {
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 0;
			z-index: 5;
			// background-color: var(--rr-heading-primary);
		}
		
	}
}
.gallery {
    overflow: hidden;

    &-thumbs {
        width: 481px;
        padding: 0;
		left: 50%;
        overflow: hidden;

        .swiper-slide {
            width: 160px;
            height: 160px;
            text-align: center;
            overflow: hidden;
            &-active {
                opacity: 1;
            }
            
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}